body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
    padding-left: 400px;
}

.left {

}

.header {
    margin: auto;
    text-align: center;
}
