doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.css')
  body
    block content
    script(src='http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='http://cbd.bootcss.com/jquery/2.1.1/jquery.min.js')
